---
import MainLayout from '../layouts/layout_home.astro';
import { Image } from 'astro:assets';
import tree from '../assets/blog/tree.JPG';

// blog collections
import { getCollection } from "astro:content";
import  '../styles/blog_card.css';

const the_posts = await getCollection("alcohol");

// 如果你需要所有文章的组合列表
// const allPosts = [...blogPosts, ...cocktailPosts, ...hpcPosts];

const pageTitle = "hpc";

---
<MainLayout title={pageTitle}>
    <!-- <Image src={tree} alt="Me, portrait" style="width: 300px; height: auto;" />

    <ul>
        {hpcPosts.map((post) => (
            <li>
            <a href={`/posts/${post.id}`}>{post.data.title}</a>
            </li>
        ))}
    </ul> -->

    <section class="posts-list">
        {the_posts.map((post, index) => (
            <>
            {/* 分隔线 */}
            {index === 0 && <div class="divider"></div>}
            
            {/* 文章项目 */}
            <article class="post-item">
                <div class="post-date">
                {post.data.pubDate ? new Date(post.data.pubDate).toLocaleDateString('en-US', {
                    year: 'numeric',
                    month: 'long',
                    day: 'numeric'
                }) : 'No date'}
                </div>
                <p class="post-title">
                    <a href={`/posts/${post.id}`}>{post.data.title}</a>
                </p>
            </article>
            
            {/* 分隔线 */}
            <div class="divider"></div>
            </>
        ))}
    </section>

</MainLayout>

